.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    height: 100%;
}

body {
    color: white;
    background-color: hsl(229, 57%, 11%);
    background-image: url('images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: 0% 100%;
  font-family: 'Raleway';

}

.fylo {
    background-color: hsl(228, 56%, 26%);
    height: 200px;
    width: 30%;
    position: absolute;
    top: 20%;
    left: 20%;
    border-top-right-radius: 50%;
    display: flex;
    box-shadow: 5px 5px 5px hsl(228, 58%, 10%);
}

.logo {
    padding: 10%;


}

button {
    background-color: hsl(229, 57%, 11%);
    display: flex;
    box-shadow: 3px 3px 3px hsl(225, 67%, 1%);
    padding: 10px;
    margin-left: 10%;
    border: none;
}
.storage {
    font-weight: 400;
    background-color: hsl(228, 56%, 26%);
    display: flex;
    box-shadow: 5px 5px 5px hsl(228, 58%, 10%);
    width: 40%;
    height: 135px;
    position: absolute;
    top: 30%;
    left: 53%;
    border-radius: 25px;
}

.bar {
    height: 20px;
    width: 80%;
    background-color: hsl(229, 57%, 11%);
    border-radius: 25px;
    position: relative;
    left: 10%;
    top: 12%;
    
    z-index: 0;
}
.used{
    margin-left: 5%;
}
.amount{
    background-color:  hsl(229, 7%, 55%);
    height: 20px;
    width: 70%;
    border-radius: 25px;
}
.dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:  hsl(243, 100%, 93%);
    margin-left: 93%;
}
.scale{
    height: 20px;
    width: 80%; 
    position: relative;
    left: 13%;
    top: 15%;
}
.left{
  
   float: left;
}
.right{
   float: right;
}
.popup{
    text-align: center;
    color: black;
    height: 100px;
    width: 10%;
    position: absolute;
    top: 25%;
    left: 80%;
    z-index: 1;
    background-color: white;
    display: flex;
    box-shadow: 5px 5px 5px 5px 5px rgb(151, 149, 149);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 85% 75%, 0% 75%);
}
@media (max-width: 900px) {
    body {
        background-image: url('images/bg-mobile.png');
        background-size: 100%;
        background-position: 50% 0%;

    }

    .fylo {
        left: 27.5%;
        width: 50%;
        top: 10%;
    }

    .storage {
        height: 200px;
        width: 50%;
        left: 27.5%;
        top: 45%;
    }
    .popup{
        clip-path: none;
        width: 30%;
        display: flex;
    box-shadow: 2px 2px 2px rgb(250, 249, 253);
    left: 38%;
    top: 70%;
    border-radius: 25px;
    }
}
